@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;600&family=Merriweather:wght@400;700&display=swap');

/* Colors
Dark red:  #92140C
Off white: #FFCF99
Blue: #348AA7
Black: #040404
Platinum: #EAE6E5

/* Fonts */

h1 {
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #040404;
}

h2 {
    font-family: 'Merriweather', serif;
    color: #040404;
}

h3, h4 {
    font-family: 'Merriweather', serif;
    color: #040404;
    text-align: center;
}

p {
    font-family: 'Baloo Bhaina 2', cursive;
}

.bluebar {
    max-width: 60%;
    border: 6px solid #348AA7;
    border-radius: 55px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
  }

body {
    background: #348AA7;
    max-width: 1200px;
    margin: auto;
    padding: 15px;
}

header {
    background:  #FFCF99;
    padding-top: 15px;
}

main { 
    max-width: 1400px;
    background:  #FFCF99;
    margin: auto;
    padding-bottom: 10px;
}

section {
    margin: 10px;
}

nav {
    background:  #FFCF99;
    padding-bottom: 15px;
}

footer {
    background:  #FFCF99;
    text-align: center;
    border-top: 6px solid #348AA7;
    padding-top: 8px;
}

.blue-border {
    border: 20px solid pink;
}

/* Navigation Menu */

nav ul {
    text-align: right;
}

nav li {
    display: inline-block;
    margin: 5px 10px;
    font-family: 'Merriweather', serif;
}

nav a:link, nav a:visited {
    color: #EAE6E5;
    text-decoration: none;
    transition: .5s;
}

nav a:hover {
    color: #348AA7;
}

nav label, #toggle {
    display: none;
}

/* Buttons */
.btn-primary {
    background-color: #348AA7 !important;
    color: #EAE6E5 !important;
}

.btn-primary:hover {
    background: #EAE6E5 !important;
    color: #348AA7;
}

/* Images */
.img-rounded-corner {
    border-radius: 10%;
    max-width: 100%;
    max-height: 100%;
}

.full-width {
    max-height: 150px;
    width: 100%;
}

.max-size-500 {
    max-width: 500px;
    max-height: 500px;
}

/* Tables */
table {
    max-width: 500px;
}

/* Random Classes */
.centered {
    margin: auto;
    text-align: center;
}

.rounded-corners {
    border-radius: 50px;
}

/* MOBILE DESIGN */
@media screen and (max-width: 980px) {
    h2 {
        font-size: 1.5rem;
    }

    header {
        padding-bottom: 15px;
    }
    
    header , nav ul{
        text-align: center;
    }
    
    
    nav label {
        background: white;
        color: white;
        width: 100%;
        text-align: center;
    }
    nav ul {
        padding: 0px;
        display: block;
    }
    
    nav li {
        display: block;
        background: pink;
        padding: 5px 0px;
        margin: 0px;
    }

    .btn-primary {
        width: 100%;
    }
    
    #toggle {
        display: none;
    }
    
    #toggle:checked ~ #menu {
        display: block;
    }
    
    #toggle:not(:checked) ~ #menu{
        display: none;
    }
    
    nav label {
        background: #348AA7;
        color: #FFCF99;
        display: block;
        padding: 10px 0px;
        font-weight: bold;
        margin: auto;
    }
    
    /*
    nav a:link, nav a:visited {
        color: #07162E;
        border-top: 5px solid transparent;
        transition: .5s;
    }
    */
    
    nav li:hover {
        color: white;
        background: #348AA7;
    }
    
    nav li:hover a {
        color: white;
        background: #348AA7;
    }
    
    nav li:active a {
        text-decoration: underline;
    }

}