/*  Reset everything to 0 */
h1, h2, h3, h4, p, li, ul, div, figure hr{
    padding: 0;
    margin: 0;
}

hr {
    border-top: 5px solid #de2226;
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
    background-image: url("../images/site/background.jpg");
    width: 80%;
    margin: auto;
}

/* Main elements */
header {
    background: white;
    width: 100%;
}

main {
    background: white;
}

footer {
    background: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Fonts */
h1 {
    color: #de2226;
    font-family: 'Chilanka', cursive;
    padding: 3%;
    text-align: center;
    padding: 0;
    padding-top: 10px;
}

h2 {
   color: #de2226;
   font-family: 'Chilanka', cursive;
   text-align: center;
}

h2 a {
    color: #de2226;
    font-family: 'Chilanka', cursive;
    text-align: center;
 }

h3 {
    color: #de2226;
    font-family: 'Chilanka', cursive;
 }

h4 {
    color: #de2226;
    font-family: 'Chilanka', cursive;
 }



 dl h2 {
    color: #de2226;
    font-size: 2em;
    font-family: 'Chilanka', cursive;
    padding: 5px;
    text-align: center;
 }

 label {
    color: #de2226;
    font-size: 1em;
    font-family: 'Chilanka', cursive;
 }

 ul {
     list-style: none;
 }

 #logo img {
     width: 50px;
    
 }

 #formDiv {
     margin: auto;
     width: 50%;
     text-align: center;
     padding-top: 10px;
     padding-bottom: 10px;
     border: 5px solid #de2226;
 }


 form {
     display: inline;
     margin: auto;
 }

 input:required:invalid, input:focus:invalid {
    background-image: url('/images/invalid.png');
    background-position: right top;
    background-repeat: no-repeat;
   }
   input:required:valid {
    background-image: url('/images/valid.png');
    background-position: right top;
    background-repeat: no-repeat;
   }

table {
    background: pink;
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
}

td {
    height: 50px;
    width: 100px;
}

.bigWidth {
    width: 400px;
}

.smallWidth {
    width: 5px;
}

 #createAccountButton {
     text-align: center;
     background: white;
 }

/* Classes */
.alignLeft {
    align-content: left;
}

.alignRight {
   display: flex;
   justify-content: flex-end;
}

.linkSelected {
    background: white;
    margin-bottom: 0;
}

.submitButton {
    background-color: #de2226;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    min-width: 250px;
    margin: 4px 2px;
}

.createaccountButton {
    background-color: white;
    border: none;
    color: #de2226;
    padding: 16px 32px;
    text-decoration: none;
    min-width: 250px;
    margin: 4px 2px;
    border: 5px solid #de2226;
}

.errorMessage {
    color: #de2226;
    font-family: 'Permanent Marker', cursive;
}

.maxWidth500px {
    max-width: 50;
}

#emptyReviewMessage {
    color: #de2226;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    margin: auto;
}

/* ID sections */
#topHeader {
    background: white;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

#accountInfoDiv {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid #de2226;
}

#myAccount {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
}

#myAccountIcon {
  flex: 1;
  max-width: 100px;
  max-height: 100px;
}

#accountText {
    color: #de2226;
    font-family: 'Chilanka', cursive;
    padding: 5px;
    text-align: center;
}

#myAccountIcon img {
    width: 50%;
    height: 50%;
}

#siteLogo {
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: flex-end;
}

#myAccountIcon {
    display: flex;
    flex-basis: auto;
}

#logo img {
    width: 40%
}

#topText {
    opacity: 1;
}

#wantItButton {
    opacity: 1;
}

#sectionOne {
    position: relative;
    max-height: 600px;
    margin: 0;
}

#inventoryItemsDisplay {
    max-width: 750px;
    margin: auto;
    border: 5px solid #de2226;
    padding: 10px;
}

#findReview {
    color: #de2226;
    font-family: 'Chilanka', cursive;
    text-align: center;
}

html {
    width: 100%;
}

#loggedInName {
    vertical-align: middle;
    padding-top: 15px;
}

#prod-display{
    flex-flow: row wrap;
    justify-content: flex-start;
   }
   
#prod-display li{
    max-width: 200px;
    flex: 1 0 auto;
    text-align: center;
    max-height: 400px;
}

#product-display h1 {
    padding: 0;
    color: black;
    font-family: 'Chilanka', cursive;
    text-align: center;
}

#product-display h3 {
    text-align: center;
}

#product-display hr {
    border-top: 5px dotted #de2226;
    margin: 10px 0px;
    padding: 0;
}

#product {
    max-width: 1300px;
    margin: auto;
    display: flex;
    padding: 0;
    justify-content: center;
}

.productDisplayInfo {
    padding-top: 1%;
    flex: 1 1 auto;
    padding: 1%;
}

.productDisplayInfo li {
    margin: 0 0 3px 0;
}

#productImageDiv {
    text-align: center;
    justify-content: center;
    max-width: 400px;
}

.addToCartButton {
    background: yellow;
    margin: 0;
    padding: 0;
    max-width: 150px;
    height: 50px;
    border-radius: 15px;
    font-family: 'Permanent Marker', cursive;
    font-size: 1em;
}

#reviewTitle {
    padding: 10px;

}

/* Classes */
.basicGrid {
   
    align-self: center;
}

.productImage {
    max-width: 100%;
    padding-right: 10px;
    max-height: 400px;
}

.reviewDisplay {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly left;
    width: 99%;
    margin: 0;
}

.individualReview {
    background: rgb(180, 180, 180);
    padding: 10px;
    max-width: 400px;
    flex: 1 1 33%;
    align-self: center;
    margin: auto;
}

.accountInfoDivDefault {
    margin: auto;
    width: 50%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 5px solid #de2226;
}

.centered {
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 900px) {

    html {
        box-sizing: border-box;
    }

    *, *:before, *:after{
        box-sizing: inherit;
       }

    #prod-display{
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    }
    
    #prod-display li{
    margin: auto;
    margin-bottom: .5em;
    border: 1px #ccc solid;
    list-style-type: none;
    flex: 1 1 auto;
    }
                    
    #prod-display li img{
    width: 100%;
    max-width: 200px;
    height: 200px;
    }

    #product {
        max-width: 1300px;
        margin: auto;
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }

    .productImage {
        max-width: 100%;
        padding-right: 10px;
    }

    figure img {
        width: 100%;
        margin: 0;
    }

    .heroRight {
        background:white;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 99%;
        width: 50%;
        z-index: 3;
        opacity: .62;
        padding-left: 5px;
    }
    
    nav {
        max-width: 900px; 
        margin: 0; 
        padding: 0;
        width: 100%;
        background: #de2226;
        } 

    nav ul { 
        list-style: none; 
        margin: 0; 
        padding: 0; 
        display: inline;
    }
    
    nav li {
        margin: 0;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none; 
        font-size: 1.25em;
        border: solid white 1px;
        flex: 3;
        padding: 15px, 15px, 10px, 5px;
    }

    nav a {
        color: white; 
        font-weight: 300; 
        letter-spacing: 2px;
        display: inline-block; 
        width: 100%; 
        text-align: center; 
        list-style: none;
        text-decoration: none;
    }

    .linkSelected {
        background: white;
        color:  #de2226;
        height: 30px;
    }

    #topText {
        padding-top: 3%;
        padding-left: 2%;
    }

    button {
        background: yellow;
        padding-left: 5%;
        width: 80%;
        height: 50px;
        border-radius: 15px;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.25em;
    }

    #reviews ul {
        padding-left: 50px;
        font-family: 'Chilanka', cursive;
    }

    #recipesList {
        display:flex;
        flex-wrap: wrap;
    }

    #reviews {
        padding-left: 10px;
        padding-bottom: 10px;
    }

    #featuredRecipes {
        padding-left: 10px;
        padding-bottom: 10px;
    }

    .recipe {
        min-width: 100px;
        flex-grow: 1;
        flex-basis: 50%;
    }

    .recipeImg {
        background: gray;
    }
}

@media only screen and (min-width: 901px) {

    nav { 
        margin: 0; 
        padding: 0;
        width: 100%;
        background: #de2226;
        } 

    nav ul { 
        list-style: none; 
        margin: 0; 
        padding: 0; 
        display: flex;
        width: 100%;
        
    }
    
    nav li {
        margin: 0;
        font-family: 'Permanent Marker', cursive;
        text-decoration: none; 
        flex-grow: 1;
        flex-basis: 100%;
        width: 100%;
        padding: 5px, 15px, 0px, 5px;
    }

    nav a {
        color: white; 
        font-weight: 300; 
        letter-spacing: 2px;
        display: inline-block; 
        width: 100%; 
        text-align: center; 
        list-style: none;
        text-decoration: none;
    }

    #prod-display{
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
       }
       
    #prod-display li{
        max-width: 200px;
        flex: 1 0 auto;
        text-align: center;
        max-height: 400px;
        padding: 1%;
        margin: auto;
    }

    #prod-display li img{
        width: 100%;
        max-width: 100%;
        height: 200px;
        }

    #prod-display li a {
        text-decoration: none;
    }

    figure img {
        width: 100%;
        margin: 0;
    }

    .heroRight {
        background:white;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 99%;
        width: 50%;
        z-index: 3;
        opacity: .62;
        padding-left: 5px;
    }
    #heroImage {
        margin-left: 0;
        margin-right: 0;
    }

    #heroImage img {
        margin: 0;
        max-height: 500px;
        width: 100%
    }

    .linkSelected {
        background: white;
        color:  #de2226;
        height: 30px;
    }

    #topText {
        padding-top: 3%;
        padding-left: 2%;
    }

    button {
        background: yellow;
        padding-left: 5%;
        width: 90%;
        height: 50px;
        border-radius: 15px;
        font-family: 'Permanent Marker', cursive;
        font-size: 1.25em;
    }

    #reviews ul {
        padding-left: 50px;
        font-family: 'Chilanka', cursive;
    }

    #reviews {
        padding-left: 10px;
        padding-bottom: 10px;
    }

    #featuredRecipes {
        padding-left: 10px;
        padding-bottom: 10px;
    }

    #recipesList {
        display:flex;
        flex-wrap: wrap;
    }

    .recipe {
        min-width: 100px;
        flex-grow: 1;
        flex-basis: 50%;
    }

    .recipeImg {
        background: gray;
    }
}